@import "tailwindcss";

:root {
  --rojo-ies: #C41230;
  --gris-ies: #595959;
  --fondo-oscuro: #1A1A1A;
  --fondo-seccion: #F5F4F2;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-montserrat), sans-serif;
  color: #1A1A1A;
  background: #ffffff;
}
